<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
<div><%= truncate(post.body, :length => 50) %></div>
<br>
<%= link_to "Read Post", post %>
<% end %>
<br><br>
<%= will_paginate @posts, previous_label: "Older", next_lable: "Newer", inner_window: 1, outer_window: 0 %>
